# 
00 6,12,18 * * * /usr/local/bin/slack /usr/share/nginx/html/munin/munin/rec/rec/cpu-day.png
00 6,12,18 * * * /usr/local/bin/slack /usr/share/nginx/html/munin/munin/rec/rec/df-day.png
00 3,7,13,19,23 * * * /home/chinachu/chinachu/recorded/kijyo/auto_blogsync.sh

# ato6

05 19 * * 1-5 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`1800" -d 60 -o "`date +\%Y-\%m-\%d`_After6_time_1_free.m4a"
05 20 * * 1-5 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`1900" -d 60 -o "`date +\%Y-\%m-\%d`_After6_time_2_free.m4a"
05 21 * * 1-5 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`2000" -d 60 -o "`date +\%Y-\%m-\%d`_After6_time_3_free.m4a"
06 21 * * 1-5 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`1800" -d 180 -o "`date +\%Y-\%m-\%d`_After6_time_free.m4a"


# session

05 16 * * 1-5 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`1530" -d 30 -o "`date +\%Y-\%m-\%d`_Session_time_free_1.m4a"
05 17 * * 1-5 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`1600" -d 60 -o "`date +\%Y-\%m-\%d`_Session_time_free_2.m4a"
55 17 * * 1-5 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`1700" -d 50 -o "`date +\%Y-\%m-\%d`_Session_time_free_3.m4a"


# TBS

55 17 * * 1-5 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`1530" -d 140 -o "`date +\%Y-\%m-\%d`_Session_time_free.m4a"
05 13 * * 1-5 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`1100" -d 120 -o "`date +\%Y-\%m-\%d`_生活は踊る_time_free.m4a"
59 23 * * 1-5 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`2200" -d 115 -o "`date +\%Y-\%m-\%d`_明日のカレッジ_time_free.m4a"
05 17 * * 7 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`1300" -d 240 -o "`date +\%Y-\%m-\%d`_日曜サンデー_time_free.m4a"
05 7 * * 6 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`0600" -d 60 -o "`date +\%Y-\%m-\%d`_木梨の会_time_free.m4a"
35 21 * * 4 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`2100" -d 30 -o "`date +\%Y-\%m-\%d`_MYGAME_time_free.m4a"
05 03 * * 3 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`0100" -d 120 -o "`date +\%Y-\%m-\%d`_爆笑問題COWVOY_time_free.m4a"
05 21 * * 6 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`2000" -d 60 -o "`date +\%Y-\%m-\%d`_MISIA_time_free.m4a"
05 3 * * 7 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s TBS -f "`date +\%Y\%m\%d`0200" -d 60 -o "`date +\%Y-\%m-\%d`_東京ポッド許可局_time_free.m4a"

# LFR
05 3 * * 2 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s LFR -f "`date +\%Y\%m\%d`0100" -d 120 -o "`date +\%Y-\%m-\%d`_ANN菅田将暉_time_free.m4a"
05 3 * * 3 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s LFR -f "`date +\%Y\%m\%d`0100" -d 120 -o "`date +\%Y-\%m-\%d`_ANN星野源_time_free.m4a"
05 3 * * 5 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s LFR -f "`date +\%Y\%m\%d`0100" -d 120 -o "`date +\%Y-\%m-\%d`_ANNナイナイ_time_free.m4a"
05 3 * * 6 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s LFR -f "`date +\%Y\%m\%d`0100" -d 120 -o "`date +\%Y-\%m-\%d`_ANN霜降り_time_free.m4a"
05 3 * * 7 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s LFR -f "`date +\%Y\%m\%d`0100" -d 120 -o "`date +\%Y-\%m-\%d`_ANNオードリー_time_free.m4a"
35 4 * * 2 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s LFR -f "`date +\%Y\%m\%d`0300" -d 90 -o "`date +\%Y-\%m-\%d`_ANNファーストサマーウイカ_time_free.m4a"
35 4 * * 3 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s LFR -f "`date +\%Y\%m\%d`0300" -d 90 -o "`date +\%Y-\%m-\%d`_ANNCreapyNuts_time_free.m4a"
35 4 * * 4 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s LFR -f "`date +\%Y\%m\%d`0300" -d 90 -o "`date +\%Y-\%m-\%d`_ANN佐久間宣之_time_free.m4a"


# FMJ
05 2 * * 6 docker run --rm -v /recorder:/usr/volume yamadatt/docker_rec_radiko_ts /usr/local/bin/rec_radiko_ts.sh -s FMJ -f "`date +\%Y\%m\%d`0130" -d 30 -o "`date +\%Y-\%m-\%d`_FlipSidePlanet_time_free.m4a"

